body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Botones interactivos */
.button {
  cursor: pointer;
  transition: color 0.2s ease, scale 0.2s ease;
}

.button:hover {
  color: #ff0;
  transform: scale(1.05);
}
